{% assign b = block.settings %}
{% assign menu = b.menu %}

<div class="megamenu-wrapper">
  <div class="container">
    <div class="megamenu-items">
      <div class="megamenu-item">
        <div class="megamenu-link-wrapper">
          {% for link in menu.links limit: 3 %}
            <div class="megamenu-links">
              <h6 class="megamenu-links-title">{{ link.title }}</h6>
              <ul>
                {% if link.links.size > 0 %}
                  {% for child_link in link.links limit: 8 %}
                    <li>
                      <a href="{{ child_link.url }}" class="nav-link-text">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
                <li>
                  <a href="{{ link.url }}" class="nav-link-text">
                    Explore All
                    <span class="icon">
                      <svg
                        width="8"
                        height="14"
                        viewBox="0 0 8 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M7.75 7L1.5 0.75L0.624999 1.625L6 7L0.625 12.375L1.5 13.25L7.75 7Z"
                        	fill="black" />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="megamenu-item megamenu-content-item">
        <div class="megamenu-content-area">
          <div class="megamenu-content">
            <div class="megamenu-links">
              <h6 class="megamenu-links-title">{{ b.heading | default: 'Featured' }}</h6>
              <ul>
                {% if b.text != blank %}
                  <li><a href="{{ b.url | default: '#' }}" class="nav-link-text">{{ b.text }}</a></li>
                {% endif %}
                {% if b.text_2 != blank %}
                  <li><a href="{{ b.url_2 | default: '#' }}" class="nav-link-text">{{ b.text_2 }}</a></li>
                {% endif %}
                <li>
                  <a href="{{ b.url | default: '#' }}" class="nav-link-text">
                    Explore All
                    <span class="icon">
                      <svg
                        width="8"
                        height="14"
                        viewBox="0 0 8 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M7.75 7L1.5 0.75L0.624999 1.625L6 7L0.625 12.375L1.5 13.25L7.75 7Z"
                        	fill="black" />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% if b.image_2 != blank %}
            <a href="{{ b.url_2 | default: '#' }}" class="megamenu-content-img">
              {{ b.image_2 | image_url: width: 400 | image_tag: 
                 alt: b.image_2.alt | default: b.heading_2 | default: 'Featured image',
                 width: 400,
                 height: 300,
                 loading: 'lazy'
              }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
