{% assign fb = block.social_facebook_link %}
{% assign yt = block.social_youtube_link %}
{% assign insta = block.social_instagram_link %}
{% assign x = block.social_twitter_link %}

{% if fb != blank %}
  <li>
    <a href="{{ fb }}" target="_blank">
      <svg aria-hidden="true" focusable="false" class="icon icon-facebook" viewBox="-4 0 16 16">
        <path fill="currentColor"
            d="M7.80181 6.57909L7.56044 8.66955C7.55042 8.76493 7.50573 8.85332 7.43484 8.91792C7.36395 8.98253 7.2718 9.01885 7.1759 9.02H4.99408L4.98317 15.2177C4.98391 15.2912 4.95571 15.362 4.90468 15.4148C4.85364 15.4676 4.78387 15.4982 4.71044 15.5H2.49999C2.46324 15.5 2.42686 15.4926 2.39304 15.4782C2.35922 15.4639 2.32865 15.4428 2.30318 15.4163C2.27771 15.3898 2.25785 15.3584 2.2448 15.3241C2.23176 15.2897 2.22579 15.2531 2.22726 15.2164V9.02H0.590897C0.539502 9.01947 0.488715 9.00881 0.441437 8.98865C0.394159 8.96849 0.351315 8.93921 0.315353 8.90249C0.279391 8.86576 0.251015 8.82232 0.231844 8.77463C0.212674 8.72694 0.203084 8.67594 0.203624 8.62455L0.195442 6.53409C0.194721 6.48252 0.204167 6.4313 0.22324 6.38338C0.242312 6.33545 0.270639 6.29176 0.306602 6.25478C0.342564 6.21781 0.385459 6.18828 0.432835 6.16788C0.480211 6.14748 0.53114 6.13662 0.582715 6.13591H2.22726V4.11773C2.22726 1.775 3.61817 0.5 5.65817 0.5H7.32999C7.38168 0.500533 7.43276 0.511267 7.48029 0.531584C7.52782 0.551901 7.57088 0.581402 7.60698 0.618395C7.64309 0.655389 7.67154 0.699147 7.6907 0.747159C7.70985 0.795171 7.71934 0.846493 7.71862 0.898182V2.65727C7.71934 2.70896 7.70985 2.76028 7.6907 2.8083C7.67154 2.85631 7.64309 2.90007 7.60698 2.93706C7.57088 2.97405 7.52782 3.00355 7.48029 3.02387C7.43276 3.04419 7.38168 3.05492 7.32999 3.05545H6.30453C5.1959 3.05545 4.98044 3.60091 4.98044 4.38909V6.13591H7.41726C7.47268 6.1366 7.52732 6.14902 7.5776 6.17234C7.62787 6.19566 7.67264 6.22936 7.70897 6.27122C7.74529 6.31308 7.77234 6.36216 7.78834 6.41522C7.80434 6.46828 7.80893 6.52413 7.80181 6.57909Z">
        </path>
      </svg>
    </a>
  </li>
{% endif %}

{% if insta != blank %}
  <li>
    <a href="{{ insta }}" target="_blank">
      <svg aria-hidden="true" focusable="false" class="icon icon-instagram" viewBox="0 0 20 20">
        <path fill="currentColor" fill-rule="evenodd"
            d="M13.23 3.492c-.84-.037-1.096-.046-3.23-.046-2.144 0-2.39.01-3.238.055-.776.027-1.195.164-1.487.273a2.43 2.43 0 0 0-.912.593 2.486 2.486 0 0 0-.602.922c-.11.282-.238.702-.274 1.486-.046.84-.046 1.095-.046 3.23 0 2.134.01 2.39.046 3.229.004.51.097 1.016.274 1.495.145.365.319.639.602.913.282.282.538.456.92.602.474.176.974.268 1.479.273.848.046 1.103.046 3.238.046 2.134 0 2.39-.01 3.23-.046.784-.036 1.203-.164 1.486-.273.374-.146.648-.329.921-.602.283-.283.447-.548.602-.922.177-.476.27-.979.274-1.486.037-.84.046-1.095.046-3.23 0-2.134-.01-2.39-.055-3.229-.027-.784-.164-1.204-.274-1.495a2.43 2.43 0 0 0-.593-.913 2.604 2.604 0 0 0-.92-.602c-.284-.11-.703-.237-1.488-.273ZM6.697 2.05c.857-.036 1.131-.045 3.302-.045 1.1-.014 2.202.001 3.302.045.664.014 1.321.14 1.943.374a3.968 3.968 0 0 1 1.414.922c.41.397.728.88.93 1.414.23.622.354 1.279.365 1.942C18 7.56 18 7.824 18 10.005c0 2.17-.01 2.444-.046 3.292-.036.858-.173 1.442-.374 1.943-.2.53-.474.976-.92 1.423a3.896 3.896 0 0 1-1.415.922c-.51.191-1.095.337-1.943.374-.857.036-1.122.045-3.302.045-2.171 0-2.445-.009-3.302-.055-.849-.027-1.432-.164-1.943-.364a4.152 4.152 0 0 1-1.414-.922 4.128 4.128 0 0 1-.93-1.423c-.183-.51-.329-1.085-.365-1.943C2.009 12.45 2 12.167 2 10.004c0-2.161 0-2.435.055-3.302.027-.848.164-1.432.365-1.942a4.44 4.44 0 0 1 .92-1.414 4.18 4.18 0 0 1 1.415-.93c.51-.183 1.094-.33 1.943-.366Zm.427 4.806a4.105 4.105 0 1 1 5.805 5.805 4.105 4.105 0 0 1-5.805-5.805Zm1.882 5.371a2.668 2.668 0 1 0 2.042-4.93 2.668 2.668 0 0 0-2.042 4.93Zm5.922-5.942a.958.958 0 1 1-1.355-1.355.958.958 0 0 1 1.355 1.355Z"
            clip-rule="evenodd"></path>
      </svg>
    </a>
  </li>
{% endif %}

{% if x != blank %}
  <li>
    <a href="{{ x }}" target="_blank">
      <svg aria-hidden="true" focusable="false" class="icon icon-twitter" viewBox="0 0 20 20">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.27274 2.8L10.8009 7.82176L15.2183 2.8H16.986L11.5861 8.93887L17.3849 17.1928H12.7272L8.99645 11.8828L4.32555 17.1928H2.55769L8.21157 10.7657L2.61506 2.8H7.27274ZM13.5151 15.9248L5.06895 4.10931H6.4743L14.9204 15.9248H13.5151Z"
            fill="currentColor"></path>
      </svg>
    </a>
  </li>
{% endif %}

{% if pin != blank %}
  <li>
    <a href="{{ pin }}" target="_blank">
      <svg aria-hidden="true" focusable="false" class="icon icon-pinterest" viewBox="-2 0 15 15">
        <path fill="currentColor"
            d="M6.36303 0.254395C2.13451 0.254395 0.0038147 3.1899 0.0038147 5.63711C0.0038147 7.11912 0.582809 8.43759 1.82631 8.92884C2.02955 9.00909 2.21335 8.93181 2.27184 8.71358L2.45334 8.0213C2.51331 7.80603 2.49008 7.72958 2.32581 7.54133C1.96653 7.13254 1.73857 6.60232 1.73857 5.85156C1.73857 3.67432 3.42085 1.72503 6.11934 1.72503C8.50962 1.72503 9.82208 3.13882 9.82208 5.02657C9.82208 7.51061 8.68658 9.60761 7.0006 9.60761C6.07057 9.60761 5.3731 8.86285 5.59661 7.94708C5.86362 6.85656 6.38264 5.6783 6.38264 4.89006C6.38264 4.18584 5.99189 3.5963 5.18189 3.5963C4.23011 3.5963 3.46592 4.54956 3.46592 5.82676C3.46592 6.64055 3.75014 7.1903 3.75014 7.1903L2.60492 11.886C2.26517 13.2788 2.55467 14.9873 2.57864 15.1598C2.59364 15.2618 2.72866 15.2858 2.79012 15.2093C2.87786 15.0983 4.01113 13.743 4.39661 12.3886C4.5061 12.0053 5.02289 10.02 5.02289 10.02C5.33191 10.5923 6.23566 11.0948 7.19643 11.0948C10.0561 11.0948 11.9972 8.56957 11.9972 5.19002C11.9963 2.63488 9.76128 0.254395 6.36303 0.254395Z">
        </path>
      </svg>
    </a>
  </li>
{% endif %}

{% if yt != blank %}
  <li>
    <a href="{{ yt }}" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-youtube"
        viewBox="0 0 16 16"
      >
        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
      </svg>
    </a>
  </li>
{% endif %}
