<footer class="footer-section color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="footer-items">
      {% for block in section.blocks %}
        {% assign b = block.settings %}
        {% case block.type %}
          {% when 'logo' %}
            <div class="footer-item">
              <div class="footer-logo">
                <a href="{{ shop.url }}">
                  {% if b.logo != blank %}
                    {{ b.logo | image_url: width: 1500 | image_tag: class: 'footer_logo' }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'svg-icon footer_logo-svg' }}
                  {% endif %}
                </a>
              </div>

              {% if b.text != blank %}
                <div class="footer-content">
                  <p class="footer-content-text">{{ b.text }}</p>
                </div>
              {% endif %}
            </div>

          {% when 'menu' %}
            <div class="footer-item">
              <h6 class="footer-item-title">{{ b.heading }}</h6>
              <ul class="footer-list">
                {% for link in b.menu.links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% when 'contact' %}
            <div class="footer-item">
              <h6 class="footer-item-title">{{ b.heading }}</h6>

              {% if b.text != blank %}
                <div class="footer-content">
                  <p class="footer-content-title">{{ b.text }}</p>
                </div>
              {% endif %}

              <ul class="footer-list">
                {% if b.phone != blank %}
                  <li>
                    <a href="tel:{{ b.phone }}">{{ b.phone }}</a>
                  </li>
                {% endif %}
                {% if b.email != blank %}
                  <li>
                    <a href="mailto:{{ b.email }}">{{ b.email }}</a>
                  </li>
                {% endif %}
              </ul>

              {% if b.social %}
                <ul class="footer-icons">
                  {% render 'social' %}
                </ul>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="copyright-content">
        <p class="copyright-text">
          {{ section.settings.copyright }}
        </p>

        <div class="copyright-img">
          {% if section.settings.use_dynamic_payments %}
            {{ shop.enabled_payment_types | payment_type_svg_tag }}
          {% else %}
            {{ section.settings.payment_icon }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "copyright",
      "label": "Copyright",
      "default": "© Copyright Reserved to Perocili"
    },
    {
      "type": "header",
      "content": "Payment's icons"
    },
    {
      "type": "checkbox",
      "id": "use_dynamic_payments",
      "label": "Use Shopify dynamic payment icons",
      "default": true
    },
    {
      "type": "textarea",
      "id": "payment_icon",
      "label": "Custom Payment Icons (SVG / HTML)",
      "info": "Used only if dynamic payment icons are disabled"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Brand Text"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "ABOUT PEROCILI"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Follow us"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "FOR ANY HELP YOU MAY CALL US AT"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone",
          "default": "011 615 6505"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "checkbox",
          "id": "social",
          "label": "Show Social Icons",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
