<section class="section gift-card-slider-section">
  <div class="container">
    <div class="card-slider-wrapper">
      <div class="section-heading-wrapper">
        <h2 class="section-heading">{{ section.settings.title }}</h2>
      </div>
      <div class="swiper gift-card-slider">
        <div class="swiper-wrapper">
          {% for product in section.settings.collection.products %}
            <div class="swiper-slide">
              <div class="gift-card-slider-item">
                <div class="product-card">
                  <div class="card-image-wrap">
                    <div class="card-img">
                      {% if product.featured_image != blank %}
                        <a class="main-img" href="{{ product.url }}">
                          {{ product.featured_image | image_url: width: 1000 | image_tag }}
                        </a>
                      {% endif %}
                    </div>
                    {% if product.available == false %}
                      <span class="card-badge">sold out</span>
                    {% endif %}
                  </div>
                  <div class="card-content">
                    <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                    <div class="card-price-wrap">
                      <p class="latest-price">{{ product.price | money }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev gift-card-slider-button-prev"></div>
        <div class="swiper-button-next gift-card-slider-button-next"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Gift Card Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Gift Card"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Gift Card Slider"
    }
  ]
}
{% endschema %}
